body{
    background-color: #f6f7f9;
}
.letter{

    background-color: #353b4b;
}
.color{
    color: black;
}
.size{
    font-size: 50px;
}
.colorH1{
   color: #0e9c9d;
}
.background{
    background-color: #0e9c9d;
}